NODE_ENV=development

DATABASE_URL=postgresql://postgres:12345678@localhost:5432/workout-v-1?schema=public
ACCESS_TOKEN_SECRET=your_very_long_random_secret_here
# server
PORT=5000

APP_NAME=WorkOutApp

API_PREFIX=/api/v1

LOG_LEVEL=debug

# CLIENT_URL=http://localhost:5173